<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <style>
        body {
            background-color: rgb(68, 89, 95);
        }
        form {
            margin-top: 25%;
            text-align: center;
            
        }

        #timeValue {
            background-color:  aliceblue;
            border-radius: 0.2em;
            box-sizing: border-box;
            border: 0;
            width: 25%;
            height: 2.5em;
        }

        #Button {
            background-color: #ffe6009c; /* Green */
            border: none;
            color: white;
            padding: 0.5em 1em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            border-radius: 0.8em;
        }
        h3 {
            color: aliceblue;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" onsubmit="return check(event)">
        <h3>ADV Tarih ve Saatini giriniz: </h3>
        <input type="datetime-local" name="timeValue" id="timeValue">
        <input type="submit" value="Hesapla" id="Button">
    </form>


    <script>
        const check = (e) => {
            const form = new FormData(e.target);
            const timeValue = form.get("timeValue");

            // Gelecek zaman verisi alınıyor.
            const futureDate = new Date(timeValue)
            console.log(futureDate);
            //////////////////////////////////////

            // Şuanki zaman verisi alınıyor.
            const dateNow = new Date()
            ///////////////////////////////////////

            const final = (futureDate - dateNow)/1000/60



            alert(final) 
            return false
        };        

    </script>
</body>
</html>